<a href="https://colab.research.google.com/github/zandrev099/Lab_IH/blob/main/Limpieza_de_Datos_Bagaje_nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data cleaning
import pandas as pd

file1=pd.read_csv('file1.txt')
file2=pd.read_csv('file2(1).txt', sep = '\t')
file3=pd.read_excel('file3.xlsx')
file4=pd.read_excel('file4.xlsx')
column_names=file1.columns
data=pd.DataFrame(columns=column_names)
data=pd.concat([file1,file2,file3,file4], axis=0)
data

In [ ]:
sum(data["GENDER"].isnull())

In [ ]:
len(data["GENDER"])

In [ ]:
print("El % de valores faltantes de la columna GENDER es el", 100*sum(data["GENDER"].isnull())/len(data["GENDER"]),"%")

In [ ]:
for i in data.columns:
  print("El % de valores faltantes de la columna", i, "es el", 100*sum(data[i].isnull()) / len(data[i]), "%")

In [ ]:
print("Nulos")
for i in data.columns:
  print(i, 100*sum(data[i].isnull()) / len(data[i]), "%")

In [ ]:
#vamos a suponer que "muchos nulos" es mayor al 3%
columnas_drop=[]
for i in data.columns:
  if(100*sum(data[i].isnull()) / len(data[i]) >= 3):
    columnas_drop.append(i)
data=data.drop(columnas_drop, axis=1)

In [ ]:
data

,CONTROLN,STATE,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,FL,742,396,470.0,0,15356,7,37,424.0,450,14.285714,2,6101,S2,50.0
1002,4881,FL,599,100,423.0,4,11670,10,27,406.0,200,9.230769,28,7401,C1,10.0
1003,66358,ND,593,258,299.0,0,10186,1,70,298.0,274,5.266667,1,3301,S2,5.0
1004,2231,WI,564,217,397.0,0,12315,0,96,386.0,295,11.400000,1,7301,T2,14.0
1005,68534,MI,651,431,505.0,0,14845,7,77,451.0,455,7.428571,1,1709,S2,9.0

---

In [ ]:
import numpy as np

In [ ]:
#calcular promedio de columna
ic4_mean=np.mean(data['IC4'])
#data['IC4']=data['IC4'].fillna(ic4_mean)  sirve para rellenar NA con el promedio en este caso
#data['GENDER']=data['GENDER'].fillna("F")  en este caso se rellenaria GENDER con la F(para categoricas)

In [ ]:
# Ya que la base de datos esta limpia, estadarizada y concatenada
# Lo exporto de esta manera
data.to_csv('data_limpia.csv')
# y ya despues lo descargas desde aqui mismo collan, la parte de archivos

---

# Funciones Lambda

In [ ]:
suma_2 = lambda a, b: a+b

In [ ]:
suma_2(3,4)

In [ ]:
# Una función que suma dos número pero si no se da el segundo , que lo tome como 8
def suma_3(a,b=8):
  return a+b

In [ ]:
suma_3(-12)

In [ ]:
suma_3(b=3,a=0)

In [ ]:
#pandas.to_numeric(data[123],downcast="str")

In [ ]:
suma_2 = lambda a,b=8 : a+b

In [ ]:
suma_2(3)

In [ ]:
# Quiero hace una función que desde una lista de palabras, si la palabra tiene una letra 'o', que ponga 'tiene_o',
# lo mismo con la letra e, y si no tiene ni e ni o, que ponga, "no tiene ni e ni o"
['hola', 'venga', 'aqui', 'cohete'] --->>> ['tiene o','tiene e', 'no tiene ni e ni o','tiene o']

In [ ]:
lista_nombres=['hola', 'venga', 'aqui', 'cohete']
def funcion1(lista):
  resultados=[]
  for i in lista:
    if 'o' in i:
      resultados.append('tiene o')
    elif 'e' in i:
      resultados.append('tiene e')
    else:
      resultados.append('no tiene o ni e')
  return resultados

In [ ]:
funcion1(lista_nombres)

------'

In [ ]:
funcion1('hola', 'venga', 'aqui', 'cohete')

In [ ]:
def funcion1(*args):
  resultados=[]
  for i in args:
    if 'o' in i:
      resultados.append('tiene o')
    elif 'e' in i:
      resultados.append('tiene e')
    else:
      resultados.append('no tiene o ni e')
  return resultados

In [ ]:
funcion1('hola', 'venga', 'aqui', 'cohete')

In [ ]:
#meter todo la funcion anterior en un solo renglon
# el ciclo van en el final

In [ ]:
(lambda *args: ['tiene o' if 'o' in i else('tiene e' if 'e' in i else 'no tiene o ni e')   for i in args  ])('hola', 'venga', 'aqui', 'cohete')

In [ ]:
funcion2=lambda *args: ['tiene o' if 'o' in i else('tiene e' if 'e' in i else 'no tiene o ni e')   for i in args  ]

In [ ]:
funcion2 ('hola', 'venga', 'aqui', 'cohete')

---

# Mapeo

In [ ]:
columna=pd.Series(['lasagna','chilaquiles', 'pastel', 'bolillos'])

In [ ]:
columna

In [ ]:
for i in columna:print(i)

In [ ]:
# Map sirve para tomar elemento a elemento de una lista, columna en este caso (en lugar de hacer un ciclo)
columna.map

----'

In [ ]:
technologies= {
    'Fee' :[22000,25000,23000,23000,26000],
    'Duration':['30days','50days','30days','35days','40days']
          }

In [ ]:
type(technologies)

In [ ]:
data2=pd.DataFrame(technologies)

In [ ]:
type(data2)

In [ ]:
data2

In [ ]:
# 10% de descuento al Fee
for i in range(len(data2["Fee"])):
  print(data2["Fee"][i]-(data2["Fee"][i]*10)/100)

In [ ]:
#Usando MAP (se ocupa en lugar de los ciclos)
data2["Fee"].map(lambda x : x-x*10/100)

In [ ]:
#10% de descuento en los primeros dos
data2["Fee"][0:2].map(lambda x : x-x*10/100)

In [ ]:
#para ver que elementos tienen duración de 30 días
data2['Duration'].map(lambda x:1 if x== '30days' else 0)

In [ ]:
#Sirve para poner en mayusculas toda la columna
data2['Duration'].map(lambda x: x.upper())